p {
	color: white;
	}

p#four {
	background-color: #486cd9;
	}
	
p#three {
	background-color: #4b26a6;
	}
	
p#two {
	background-color: #5d5473;
	}
	
p#one {
	background-color: #debb81;
	}
	
p#zero {
	background-color: #a66626;
	}
