p {
	color: #ffffff;
}

#four {
	background-color: #486cd9;
}
	
#three {
	background-color: #4b26a6;
}
	
#two {
	background-color: #5d5473;
}
	
#one {
	background-color: #debb81;
}
	
#zero {
	background-color: #a66626;
}
